/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  background: #fff; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #fff;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 0px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

h1, h2, h3, h4, h5, .details .navigation, .btnLink, .relate-product {
  text-transform: uppercase; }

.item, .preview {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05); }

#page-container {
  align-items: center;
  background: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw; }

body {
  font-family: 'Montserrat', sans-serif; }
  body * {
    font-family: 'Montserrat', sans-serif; }

div#box {
  text-align: center;
  width: 100vw; }

#box p span {
  color: red; }

#page-content {
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1; }
#page-content .left {
    float: left;
    width: 200px; }
#page-content .right {
    width: calc(100vw - 200px); }

.content {
  height: 100vh; }
  .content > * {
    box-sizing: border-box;
    float: left;
    height: 100vh; }
  .content > .left {
    align-items: center;
    display: flex;
    flex-direction: column; }
  .content > .right {
    padding: 30px;
    overflow-x: hidden;
    overflow-y: auto; }

.nav {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  padding: 30px;
  text-transform: uppercase;
  width: 100%; }

ul {
  list-style: none;
  padding: 0; }

.nav a {
  box-sizing: border-box;
  color: #999;
  display: block;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px 0;
  position: relative;
  text-decoration: none;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in; }
  .nav a:before {
    background: #333;
    content: '';
    height: 2px;
    left: -30px;
    position: absolute;
    top: calc(50% - 1px);
    width: 0px;
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in; }
.nav li:hover a, .nav li.active a {
  color: #333; }
.nav li:hover a:before, .nav li.active a:before {
  width: 10px; }
.nav .btnMenu {
  display: none; }

.social {
  height: 40px; }
  .social ul {
    display: block;
    white-space: nowrap; }
  .social li {
    display: inline-block; }
  .social a {
    color: #ccc;
    margin: 0 10px;s
    text-decoration: none; }
  .social li:hover a {
    color: #333; }

.products {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
	transition: all .2s ease-in;}

.product {
  cursor: pointer;
  float: left;
  height: 25.52083vw;
  min-width: 240px;
  margin: 20px 30px 30px;
  position: relative;
  text-transform: uppercase;
  width: 19.27083vw;  position: relative;}
 

.item {
  cursor: pointer;
  width: 100%;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in; }
.item:hover {
  margin-top: -10px;
}
.product .item:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.15);
  top: -20px; }
.product .price {
  align-self: flex-end;
  color: #666;
  font-size: 0.9375vw;
  font-weight: 100;
  text-align: right;
  width: 100%; }
  .product .price span {
    color: #aaa;
    float: left; }
.product .name {
  flex-grow: 2; }

.description {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 10.9375vw; }

.thumbnail {
  align-items: center;
  height: 14.53125vw;
  justify-content: center;
  min-width: 240px;
  width: 100%; }
  .thumbnail img {
    max-width: 100%; }

.product h3, .product h5 {
  font-size: 1.1vw;
  margin-bottom: 1vw; 
	line-height: 30px;
}

.details {
  padding: 30px;
  max-width: 1170px; }
  .details .navigation {
    align-items: center;
    border-bottom: 1px solid #eee;
    display: flex;
    margin-bottom: 20px;
    height: 40px; }
    .details .navigation a {
      color: #aaa;
      font-size: 12px;
      font-weight: 700;
      width: 100%; }
      .details .navigation a:hover {
        color: #333; }
      .details .navigation a + a {
        text-align: right; }
  .details .header {
    align-items: center;
    display: flex; }
    .details .header h3 {
      width: 100%; }

.preview {
  margin: 20px 0; }
  .preview img {
    max-width: 100%; }

.btnLink {
  border: 2px solid #eee;
  border-radius: 15px;
  color: #aaa;
  display: inline-block;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  text-align: center;
  white-space: nowrap;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in; }
  .btnLink:hover {
    border-color: #aaa;
    color: #333; }

.relate-products .products {
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px; }

.relate-product {
  box-sizing: border-box;
  display: block;
  font-size: 12px;
  margin-bottom: 20px;
  padding-right: 20px; }
  .relate-product:nth-last-child(1) {
    padding: 0; }
  .relate-product img {
    max-width: 160px;
    max-height: 120px;
    min-height: 120px; }
  .relate-product p {
    margin: 5px 0; }

@media (max-width: 769px) {
  #page-content .left, #page-content .right {
    float: none;
    width: 100%; }

  #page-content .left {
    height: 80px; }
    #page-content .left > img {
      max-height: 60px;
      left: 10px !important;
      top: 10px !important;
      transition: all .5s ease-in;
      -moz-transition: all .5s ease-in;
      -webkit-transition: all .5s ease-in; }
  #page-content .right {
    height: calc(100vh - 120px); }
  #page-content .nav {
    display: block;
    height: 80px;
    padding: 10px;
    flex-grow: initial; }
    #page-content .nav ul {
      background: #fff;
      display: flex !important;
      height: 0;
      left: 0;
      overflow: hidden;
      position: fixed;
      text-align: center;
      top: 80px;
      width: 100vw;
      z-index: 10000;
      align-items: center;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: center;
      transition: height .2s ease-in;
      -moz-transition: height .2s ease-in;
      -webkit-transition: height .2s ease-in; }
      #page-content .nav ul.open {
        height: calc(100% - 120px);
        padding: 10.41667vw 0; }
        #page-content .nav ul.open li {
          height: 100%;
          width: 100%; }
      #page-content .nav ul a {
        margin: 0; }
        #page-content .nav ul a:before {
          display: none; }
    #page-content .nav .btnMenu {
      display: block;
      float: right; }

  svg {
    width: 80px;
    height: 60px;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  path {
    fill: none;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    stroke-width: 40px;
    stroke-linecap: round;
    stroke: #333;
    stroke-dashoffset: 0px; }
    path#top, path#bottom {
      stroke-dasharray: 240px 950px; }
    path#middle {
      stroke-dasharray: 240px 240px; }

  .cross path#top, .cross path#bottom {
    stroke-dashoffset: -650px;
    stroke-dashoffset: -650px; }
  .cross path#middle {
    stroke-dashoffset: -115px;
    stroke-dasharray: 1px 220px; }

  .social {
    background: #fff;
    bottom: 0;
    line-height: 40px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 20000; }

  .product {
    height: auto;
    width: calc(100% - 40px); }
    .product .description {
      padding: 10px 20px; }
    .product h5, .product h3 {
      font-size: 12px; }
    .product .price {
      font-size: 12px; }
    .product .thumbnail {
      height: 100%;
      margin: 0 auto;
      overflow: hidden; }
 }
@media (max-width: 767px) {
  .content > .right {
    padding: 0; }
	.product h3{
		font-size: 16px;
	}
  .product .description {
    align-items: center;
    box-sizing: inherit;
    flex-direction: row;
    justify-content: center; }
  .product .price {
    align-self: center;
    font-size: 16px;
    width: auto; }
    .product .price span {
      display: none; } }
@media (max-width: 481px) {
  .details {
    padding: 20px; }

  .header .btnLink {
    display: none; }

  .links {
    display: block;
    text-align: center; }
    .links .btnLink {
      border-radius: 40px;
      font-size: 16px;
      height: 40px;
      line-height: 40px; }

  .relate-product {
    padding: 0;
    width: 50%; }
 }
@media (max-width: 320px) {
  .relate-product {
    padding: 0;
    text-align: center;
    width: 100%; } }
@media (max-width: 1439px) {
  .details {
    width: calc(base-width(1170px) - 240px); } }

.adv {
	text-align: center;
	margin-bottom: 1%;
}
.adv a img {
  	max-width: 100%;
}
/*fix css hnv*/
.products{
  margin-left: 5%;
}
