@charset "UTF-8";
@import 'mixins';
/* CSS Document */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  background: #fff;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: "";
    content: none;
  }
}

q {
  &:before, &:after {
    content: "";
    content: none;
  }
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #fff;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 0px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

#page-container {
  align-items: center;
  background: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

body {
  font-family: 'Montserrat', sans-serif;
  * {
    font-family: 'Montserrat', sans-serif;
  }
}

div#box {
  text-align: center;
  width: 100vw;
}

#box p span {
  color: red;
}

#page-content {
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
  .left {
    float: left;
    width: 200px;
  }
  .right {
    width: calc(100vw - 200px);
  }
}

.header {
  height: 140px;
}

.content {
  height: 100vh;
  > {
    * {
      box-sizing: border-box;
      float: left;
      height: 100vh;
    }
    .left {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    .right {
      padding: 30px;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

.nav {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  padding: 30px;
  text-transform: uppercase;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.nav {
  a {
    box-sizing: border-box;
    color: #999;
    display: block;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 0;
    position: relative;
    text-decoration: none;
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    &:before {
      background: #333;
      content: '';
      height: 2px;
      left: -30px;
      position: absolute;
      top: calc(50% - 1px);
      width: 0px;
      transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
    }
  }
  li {
    &:hover a, &.active a {
      color: #333;
    }
    &:hover a:before, &.active a:before {
      width: 10px;
    }
  }

  .btnMenu {
    display: none;
  }
}

.social {
  height: 40px;
  ul {
    display: block;
    white-space: nowrap;
  }
  li {
    display: inline-block;
  }
  a {
    color: #ccc;
    margin: 0 10px;
    text-decoration: none;
  }
  li:hover a {
    color: #333;
  }
}

.products {
  display: inline-block;
  height: auto;
  width: 100%;
}

.product {
  cursor: pointer;
  float: left;
  height: base-width(490px);
  min-width: 240px;
  margin: 20px 30px 30px;
  position: relative;
  text-transform: uppercase;
  width: base-width(370px);
}

.item {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  width: 100%;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}

.product {
  .item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    top: -20px;
  }
  .price {
    align-self: flex-end;
    color: #666;
    font-size: base-width(18px);
    font-weight: 100;
    text-align: right;
    width: 100%;

    span {
      color: #aaa;
      float: left;
    }
  }
  .name {
    flex-grow: 2;
  }
}

.description {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: base-width(210px);
}


.thumbnail {
  align-items: center;
  display: flex;
  height: base-width(279px);
  justify-content: center;
  min-width: 240px;
  width: base-width(370px);
  img {
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}

.product {
  h3, h5 {
    font-size: base-width(24px);
    margin-bottom: base-width(20px);
  }
}

@media (max-width: 769px){
  %float{
    float: none;
    width: 100%;
  }
  #page-content{
    .left {
      @extend %float;
      height: 80px;

      > img {
        max-height: 60px;
        left: 10px!important;
        top: 10px!important;

        transition: all .5s ease-in;
        -moz-transition: all .5s ease-in;
        -webkit-transition: all .5s ease-in;
      }
    }
    .right {
      @extend %float;
      height: calc(100vh - 120px)
    }
    .nav {
      display: block;
      height: 80px;
      padding: 10px;
      flex-grow: initial;

      ul {
        background: #fff;
        display: flex!important;
        height: 0;
        left: 0;
        overflow: hidden;
        position: fixed;
        text-align: center;
        top: 80px;
        width: 100vw;
        z-index: 10000;

        align-items: center;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;

        transition: height .2s ease-in;
        -moz-transition: height .2s ease-in;
        -webkit-transition: height .2s ease-in;
        &.open {
          height: calc(100% - 120px);
          padding: base-width(200px) 0;

          li {
            height: 100%;
            width: 100%;
          }
        }

        a {
          margin: 0;

          &:before {
            display: none;
          }
        }
      }

      .btnMenu {
        display: block;
        float: right;
      }
    }
  }

  svg {
    width: 80px;
    height: 60px;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  path {
    fill: none;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    stroke-width: 40px;
    stroke-linecap: round;
    stroke: #333;
    stroke-dashoffset: 0px;
    &#top, &#bottom {
      stroke-dasharray: 240px 950px;
    }
    &#middle {
      stroke-dasharray: 240px 240px;
    }
  }

  .cross path {
    &#top, &#bottom {
      stroke-dashoffset: -650px;
      stroke-dashoffset: -650px;
    }
    &#middle {
      stroke-dashoffset: -115px;
      stroke-dasharray: 1px 220px;
    }
  }
  .social {
    background: #fff;
    bottom: 0;
    line-height: 40px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 20000;
  }

  .product {
    height: auto;
    width: calc(50% - 60px);
    .description {
      padding: 10px 20px;
    }
    h5, h3 {
      font-size: 12px;
    }
    .price {
      font-size: 12px;
    }
    .thumbnail {
      height: 180px;
      margin: 0 auto;
      overflow: hidden;

      img {
        max-height: 240px;
      }
    }
  }
}
@media (max-width: 767px) {
  .content {
    > .right {
      padding: 0;
    }
  }
  .product {
    .description {
      align-items: center;
      box-sizing: inherit;
      flex-direction: row;
      justify-content: center;
    }
    .price {
      align-self: center;
      font-size: 22px;
      width: auto;

      span {
        display: none;
      }
    }
  }
}
@media (max-width: 481px) {
  .product {
    margin: 20px calc((100vw - 240px)/2);
  }
}
